/* Deal with the application's fonts */
@font-face {
  src: url("assets/fonts/Futura Std Book.ttf");
  font-family: normalFutura;
}

@font-face {
  src: url('assets/fonts/Futura Std Heavy.ttf');
  font-family: titleFutura;
}

/* These bits deal with the sidebar on the left of the webapp*/
.sidebarmenu {
  height: 100%;
  width: 170px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #A2B4DD;
  overflow-x: hidden;
  padding: 20px 0px 0px;
  font-family: normalFutura;
}

.menuitem {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #8EA3D5;
  width: 100%;
  font-family: normalFutura;
  cursor: pointer;
}

.menuitem:hover {
  background-color: #7A93CE;
}

.sidebarTitle {
  text-align: center;
  padding: 20px 0px 40px 0px;
  font-size: 1.5em;
  font-family: titleFutura;
}

.sidebarFooter {
  text-align: center;
  padding: 50px 0px 0px 0px;
  font-family: normalFutura;
}

/* Deal with each tab's content formatting in this section*/
.intro {
    padding-right: 50px;
    line-height: 1.5em;
}

.tabContent {
  padding: 13px 50px 0px 200px;
  font-family: normalFutura;
  overflow: hidden;
}

.game {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  column-gap: 1em;
  font-family: normalFutura;
}

.logicGrid {
  grid-column-start: 1;
  grid-column-end: 6;
}

.story {
  line-height: 1.5em;
}

li {
  padding-top: 0.6em;
  font-family: normalFutura;
}

.clueContainer {
  background-color: white;
  border: dashed black;
  border-radius: 10px;
  width: 20em;
  padding-right: 15px;
}

.submitButton {
  background-color: #D5BF8E;
  border: 1px solid;
  border-radius: rounded;
  padding: 5px 5px 5px;
  text-align: center;
  font-family: normalFutura;
  border-radius: 5px rounded;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #CEB37A;
  cursor: pointer;
}

/* For the logic grid itself */
.logicGrid {
  border: none;
  width: 60%;
  overflow-wrap: normal;
}

/* For the logic grid's cells */
.logicCell {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1.5px solid black;
  cursor: pointer;
  text-decoration-color: rgba(0, 0, 0, 0);
}

.selectedCell {
  width: 50px;
  height: 50px;
  background-color: #7A9A01;
  border: 1.5px solid black;
  cursor: pointer;
  text-decoration-color: rgba(0, 0, 0, 0);
}

.cancelCell {
  width: 50px;
  height: 50px;
  background-color: #AF272F;
  border: 1.5px solid black;
  cursor: pointer;
  text-decoration-color: rgba(0, 0, 0, 0);
}

.logicCell:hover {
  background-color: #FEFDF4;
  cursor: pointer;
  text-decoration-color: rgba(0, 0, 0, 0);
}

.rowTitle {
  width: 30%;
  text-align: left;
  padding-right: 10px;
}

.colTitle {
  text-align: left;
  height: 100%;
  /*transform: rotate(90deg);*/
  overflow: hidden;
}

/* CSS for the second logic grid puzzle */
/*
#logicGrid2 .rowTitle {
  width: 100%;
}
*
logicGrid2 .colTitle {
  line-height: 15px;
  height: 65px;
  padding: 0px 5px 0px;
  width: 100%;
}
*/
logicGrid2 {
  table-layout: fixed;
}




/* CSS for the third logic grid puzzle */

#logicGrid3 .colTitle {
  height: 76px;
}

#logicGrid3 {
  width: 50%;
}

/* Miscellaneous CSS for the rest of the web-app*/
body {
  background-color: #DDCBA4;
}

/* Modal that pops up when player clicks on check answers button */
.winningModal {
  position: absolute;
  width: 10%;
  height: 20%;
  display: flex;
  justify-content: center;
  display: none;
  backdrop-filter: blur(3px);
}
